* {
	


}
html, body {

	padding: 0px;
}

.header-bar {

	padding: 0px;
}
.header-bar .navbar {

	border-radius: 0px;
	padding: 10px;

}
.header-home {

    background-color: #f8f8f8;
    color: white;
    height: 100%;
}