* {
	
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;

}
html, body {

	padding: 0px;
}

.header-bar {

	padding: 0px;
}
.header-bar .navbar {

	border-radius: 0px;
	padding: 10px;

}
.header-home {
    /*padding-left: 0px;
    padding-right: 0px;*/
    background-image: url("../images/header_home_bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    /*height: 100%;*/
}

.header-home h1.home-title {

    font-size: 40px;
    color: white;
    font-weight: 300;
    text-transform:uppercase;
    position: relative;
    margin-top: 22.5%;
    letter-spacing: 8px;

}
.header-home .typed-header-sub-title {

    color: white;
    font-size: 28px;
    font-weight: 300;
    padding-right: 10px;
    letter-spacing: 2px;
    padding-bottom: 200px;
}

.header-home .scroll-down {
    
    font-size: 50px;

    display: none;
    width: 100px;
    margin: auto;
}
.header-home .scroll-down a {
    color:rgba(255, 255, 255, 0.60);

}
.container.home {
    /*display: none;*/
}

.home-header-nav {
    background:rgba(0, 0, 0, 0);
    border-bottom: 0px;
}
.home-header-nav .row {
    margin: 0px;
    padding: 15px;

}
.home-header-nav a {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.10);
}
.home-header-nav a.brand {
    letter-spacing: 2px;
}

/* CONTENT */

.home-content .section {
    overflow: auto;
    background-color: #f8f8f8;

}

.home-content .section-title {

    padding-top: 55px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: 1px solid #1abc9c;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.home-content .section p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    line-height: 55px;
    letter-spacing: 2px;
    width: 90%;
    margin: auto;
}

.home-content .section p.text-color {

    color: #1abc9c !important;
}
.home-content .section_scroll_next {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.50);
}

/* about */
.home-content .about {
    background-image: url("../images/about-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

/* expertise */
.home-content .expertise {
    background-image: url("../images/expertise-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #f8f8f8;

}
.home-content .expertise .section-title {
    color: white;
    margin-bottom: 40px;
}
.home-content .expertise p {

    color: white;
    font-weight: 300;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

.home-content .expertise h3 {
    color: white;
    margin: 30px 0px;
    font-weight: 300;
}

.home-content .skills .progress-circle {
   width: 50%;
   margin: auto;
    
   
}



/* COMMON */
.typed-cursor {

    display: none;
}
.floating{
    /*float: left;*/
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;


}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 25px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 25px);}
    to {-moz-transform: translate(0, -0px);}    
}