* {
	
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;

}
html, body {

	padding: 0px;
}

.header-bar {

	padding: 0px;
}
.header-bar .navbar {

	border-radius: 0px;
	padding: 10px;

}
.header-home {
    /*padding-left: 0px;
    padding-right: 0px;*/
    background-image: url("../images/header_home_bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    /*height: 100%;*/
}

.header-home h1.home-title {

    font-size: 40px;
    color: white;
    font-weight: 300;
    text-transform:uppercase;
    position: relative;
    margin-top: 22.5%;
    letter-spacing: 8px;

}
.header-home .typed-header-sub-title {

    color: white;
    font-size: 28px;
    font-weight: 300;
    padding-right: 10px;
    letter-spacing: 2px;
    padding-bottom: 200px;
}

.header-home .scroll-down {
    color: white;
    font-size: 50px;

    display: none;
    width: 100px;
    margin: auto;
}
.header-home .scroll-down a {
    color: white;
}
.container.home {
    display: none;
}